@font-face {
    font-family: main;
    src: url(fonts/nexa.ttf);
}
@font-face {
    font-family: mainBold;
    src: url(fonts/nexaBold.ttf);
}
@font-face {
    font-family: mainExtraBold;
    src: url(fonts/nexaExtraBold.ttf);
}
.bold{
    font-family: mainBold;
}
.extraBold{
    font-family: mainExtraBold;
}
.regular{
    font-family: main;
}
body{
    background-color: #121212;
    color: white;
}
