/*Default Body Text, Override if Needed*/
body{
    background-color: #121212;
    color: rgb(19, 69, 124);
	margin-left: 10px;
	font-size: 25px;
}
/*Fonts*/
@font-face {
    font-family: main;
    src: url(fonts/nexa.ttf);
}
@font-face {
    font-family: mainBold;
    src: url(fonts/nexaBold.ttf);
}
@font-face {
    font-family: mainExtraBold;
    src: url(fonts/nexaExtraBold.ttf);
}
.bold{
    font-family: mainBold;
}
.extraBold{
    font-family: mainExtraBold;
}
.regular{
    font-family: main;
}
/*Styles For Home Page*/
#title{
	color: rgb(152, 203, 247);
	font-size: 100px;

	position:fixed;

	width: 80%;
	right: 0px;
}
#title:hover{
	animation: stretchAnimation;
	animation-duration: 500ms;
	animation-iteration-count: 1;
}

#currentPlans:hover{
	animation: skewAnimationPositive;
	animation-duration: 600ms;
	animation-iteration-count: 1;
}
#lastYear:hover{
	animation: skewAnimationNegative;
	animation-duration: 600ms;
	animation-iteration-count: 1;
}

#mainText a:visited{
	color:rgb(19, 69, 150);
}
#mainText a:link{
	color: rgb(19, 69, 200);
}

@keyframes stretchAnimation{
	0%{transform: scaleX(1)}
	50%{transform: scaleX(1.1);}
	100%{transform: scaleX(1)}
}
@keyframes skewAnimationPositive{
	50%{transform: rotateZ(1deg); transform: skewY(2deg)}
}
@keyframes skewAnimationNegative{
	50%{transform: rotateZ(-1deg); transform: skewY(-2deg)}
}

/*Navigation Bar*/
.Navbar-sticky {
    text-align: center;
    background-color: rgb(19, 69, 124);
    padding: 10px;
}
nav a{
    font-size: 25px;
    text-decoration: none;
    font-family: gill sans;
    color: rgb(152, 203, 247);
    display: inline-block;
    padding: 15px 20px;
    background-color: rgb(19, 69, 124);
    width: 130px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: solid 3px rgb(152, 203, 247);
}

nav a:hover {
    color: rgb(19, 69, 124);
    background-color: rgb(152, 203, 247);
    transition: all 0.3s ease 0s;
    padding: 15px 20px;
    outline: solid 6px rgb(152, 203, 247);
}
.sticky {
    position: sticky;
    top: 0;
}

