body{
    background-color: #121212;
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;
}

.card{
    border-radius: 10px;

    width: 80vw;
    max-width: 1000px;
    background-color: rgba(255, 255, 255, 0.05);

}

.info{
    display: -webkit-flex;
    display: flex;
}

.socials{
    padding: 5px;
    display: -webkit-flex;
    display: flex;
}

a:visited{
    text-decoration: none;
    color: white;
}
